@use 'variables' as *;
@use 'functions' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 10px;
  gap: 40px;
  background: $clWhite;
  border: 1px solid #c6c6c6;
  border-radius: 10px;

  @media (max-width: toRem(919.98)) {
    flex-direction: row;
    width: 100%;
  }

  @media (max-width: toRem(479.98)) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  @media (max-width: toRem(479.98)) {
    flex-direction: column;
    padding: 20px;
  }

  &__avatar {
    width: 230px;
    height: 230px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (max-width: toRem(649.98)) {
      width: 180px;
      height: 180px;
    }

    @media (max-width: toRem(479.98)) {
      align-self: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    color: $clGreen;
    font-size: 20px;
  }

  &__contact {
    color: #0071a1;
    font-size: 16px;
    font-weight: 600;
  }
}
