@use "sass:math";

@use "_reset.scss" as *;
@use "_variables.scss" as *;
@use "_functions.scss" as *;
@use "_fonts.scss" as *;
@use "_animWords.scss" as *;
@use "_modal.scss" as *;
@use "_header.scss" as *;
@use "_navigation.scss" as *;
@use "_about.scss" as *;
@use "_sidebar.scss" as *;
@use "_courses.scss" as *;
@use "_projects.scss" as *;
@use "_contact.scss" as *;
@use "_admin.scss" as *;
@use "_footer.scss" as *;
@use "_error-page.scss" as *;

body {
  font-family: 'Montserrat', sans-serif;

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  min-height: 100vh;
}

[class*="__container"] {
  max-width: toRem(1250);
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

.page {
  flex-grow: 1;
  background: #f7f7f7;

  &__container {
    margin: toRem(15) auto;
    display: flex;
    gap: toRem(15);
    width: 100%;
  }

  &__content {
    padding: toRem(30) toRem(15);
    flex-grow: 1;
    border: 1px solid #c6c6c6;
    border-radius: toRem(10);
  }
}

.title {
  color: #0071a1;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: toRem(20);

  & {
    @include adaptiveValue('font-size', 38, 30, 0, $containerWidth, 768);
  }
}

.input-border {
  display: flex;
  border: 1px solid #c6c6c6;
  border-radius: toRem(5);
  padding: toRem(5) toRem(15);

  &--break {
    word-break: break-all;
  }
}
